<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <!--leave blank to run for production-->
    <!--<add key="teststoryid" value="188421be-07f2-45ef-b392-fa512ffd19d7" />-->
    <add key="UsePasswordUsername" value="false" />
    <add key="SmtpHost" value="mail.authsmtp.com:2525" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPass" value="" />
    <add key="FromEmail" value="support@sharpcloud.com" />
    <add key="FromName" value="SharpCloud" />
    <add key="ErrorEmails" value="rusty@sharpcloud.com" />

    <add key="TimeVariance3" value="&gt; 4 wks late" />
    <add key="TimeVariance2" value="0 - 4 wks late" />
    <add key="TimeVariance1" value="On time" />
    <add key="TimeVariance0" value="No RAG assigned" />

    <add key="CostVariance3" value="more than 10%" />
    <add key="CostVariance2" value="5% to 10%" />
    <add key="CostVariance1" value="less than 5%" />
    <add key="CostVariance0" value="No RAG assigned" />

    <add key="FinanceVariance2" value="over budget" />
    <add key="FinanceVariance1" value="on or below budget" />

    <add key="LinkedProjectName" value="Periodic Project Report" />
    <add key="LinkedProjectDesc" value="Full details of this project" />

    <add key="BudgetVariance3" value="More than 5% over budget" />
    <add key="BudgetVariance2" value="Up to 5% over budget" />
    <add key="BudgetVariance1" value="On or below budget" />
    <add key="BudgetVariance0" value="No RAG assigned" />

    <add key="ProjectVariance3" value="Action Required" />
    <add key="ProjectVariance2" value="Monitoring" />
    <add key="ProjectVariance1" value="Okay" />
    <add key="ProjectVariance0" value="No RAG assigned" />
    
    
    <!--period settings-->
    <add key="numberOfPeriods" value="13" />
    <add key="currentPeriod" value="Current Period" />
    <add key="Period01" value="01 Apr 2016" />
    <add key="Period02" value="03 May 2016" />
    <!--add key="Period03" value="28 Jun 2016"/-->
    <add key="Period03" value="31 May 2016" />
    <add key="Period04" value="29 Jun 2016" />
    <add key="Period05" value="26 Jul 2016" />
    <add key="Period06" value="23 Aug 2016" />
    <add key="Period07" value="20 Sep 2016" />
    <add key="Period08" value="18 Oct 2016" />
    <add key="Period09" value="15 Nov 2016" />
    <add key="Period10" value="13 Dec 2016" />
    <add key="Period11" value="10 Jan 2017" />
    <add key="Period12" value="07 Feb 2017" />
    <add key="Period13" value="06 Mar 2017" />
    <!--start of next year - added as an end date-->
    <add key="Period14" value="01 Apr 2017" />

    <!--dates data - items already exist-->
    <add key="itemPeriodDateCount" value="2" />
    <add key="itemPeriodDate1" value="P{0:D2} Project Details" />
    <add key="itemPeriodDate2" value="P{0:D2} EFC and Forecast" />
    <add key="periodStart" value="PD 17*: Period Start" />
    <add key="periodEnd" value="PD 18*: Period End" />

    <!--project data - items already exist ALL DATA is copied-->
    <add key="itemCopyAcrossCount" value="1" />
    <add key="itemCopyAcross1" value="P{0:D2} Project Details" />

    <!--PENDING CHANGES data - items do not exist-->
    <add key="PendingChangesEID" value="PendingChanges" />
    <add key="PendingChangesCategory" value="Pending Changes" />
    <add key="PendingChangesAttribute" value="CC 01: Status" />
    <add key="PendingChangesAttributePending" value="Pending" />


    <!--Rollup settings - attributes shared between project and portfolio-->
    <!--How to find the matching item in the portfolio story-->
    <add key="rollupMainStatusItem" value="P{0:D2} Project Details" />
    <add key="rollupMainAttribute" value="PD 09: DLR Project Number" />
    <!--How to find the matching portfolio item - add more here to use additional items-->
    <add key="rollupItemCount" value="7" />
    <add key="rollupItem1" value="project" />
    <add key="rollupItem2" value="projectCommentary" />
    <add key="rollupItem3" value="projectApproval" />
    <add key="rollupItem4" value="projectFinancials" />
    <add key="rollupItem5" value="projectFinancials13" />
    <add key="rollupItem6" value="projectFinancials99" />
    <add key="rollupItem7" value="projectFinancials00" />
    <!--project data-->
    <add key="projectStatusItem" value="P{0:D2} Project Details" />
    <add key="projectAttributesCount" value="8" />
    <add key="projectAttribute1" value="PD 01: Project Title" />
    <add key="projectAttribute2" value="PD 06: Programme Manager" />
    <add key="projectAttribute3" value="PD 16: Programme Manager Period Approval" />
    <add key="projectAttribute4" value="PD 09: DLR Project Number" />
    <add key="projectAttribute5" value="PD 02: Asset Group" />
    <add key="projectAttribute6" value="PD 19: Project Description" />
    <add key="projectAttribute7" value="PD 20: Project Sponsor" />
    <add key="projectAttribute8" value="PP 01: DLR Handover" />
    <!--project Commentary data-->
    <add key="projectCommentaryStatusItem" value="P{0:D2} Project Manager's Commentary" />
    <add key="projectCommentaryAttributesCount" value="22" />
    <add key="projectCommentaryAttribute1" value="PMC 01: Work Undertaken This Period" />
    <add key="projectCommentaryAttribute2" value="PMC 02: Work Forecast Next Period" />
    <add key="projectCommentaryAttribute3" value="PMC 03: Possessions" />
    <add key="projectCommentaryAttribute4" value="PMC 04: Design and Procurement" />
    <add key="projectCommentaryAttribute5" value="PMC 05: Construction Status" />
    <add key="projectCommentaryAttribute6" value="PMC 06: Status of Work Request Forms" />
    <add key="projectCommentaryAttribute7" value="PMC 07: Testing and Commissioning" />
    <add key="projectCommentaryAttribute8" value="PMC 08: Issues" />
    <add key="projectCommentaryAttribute9" value="PMC 09: Opportunities" />
    <add key="projectCommentaryAttribute10" value="PMC 10: Decisions" />
    <add key="projectCommentaryAttribute11" value="PS 01: Project Status" />
    <add key="projectCommentaryAttribute12" value="PS 02: Time RAG" />
    <add key="projectCommentaryAttribute13" value="PS 03: Early Warning Notice" />
    <add key="projectCommentaryAttribute14" value="PS 04: DLR Early Notification" />
    <add key="projectCommentaryAttribute15" value="PMC 11: Programme Variance" />
    <add key="projectCommentaryAttribute16" value="MPP 09: Milestones Planned" />
    <add key="projectCommentaryAttribute17" value="MPP 10: Milestones Acheived" />
    <add key="projectCommentaryAttribute18" value="MPP 11: Milestones Missed" />
    <add key="projectCommentaryAttribute19" value="Risk 08: Overall Pre Mitigation Score" />
    <add key="projectCommentaryAttribute20" value="Risk 09: Overall Post Mitigation Score" />
    <add key="projectCommentaryAttribute21" value="CC 06: Total Cost Impact" />
    <add key="projectCommentaryAttribute22" value="CC 07: Total Prog. Impact (wks)" />
    <!--project Approval data-->
    <add key="projectApprovalStatusItem" value="P{0:D2} Report Approval" />
    <add key="projectApprovalAttributesCount" value="1" />
    <add key="projectApprovalAttribute1" value="PD 16: Programme Manager Period Approval" />
    <!--project Financial data-->
    <add key="projectFinancialsStatusItem" value="P{0:D2} EFC and Forecast" />
    <add key="projectFinancialsAttributesCount" value="52" />
    <add key="projectFinancialsAttribute1" value="EFC 01: Base Cost - this period" />
    <add key="projectFinancialsAttribute2" value="EFC 02: Base Cost- last period" />
    <add key="projectFinancialsAttribute3" value="EFC 03*: Base Cost - movement" />
    <add key="projectFinancialsAttribute4" value="EFC 04: Risk allowance - this period" />
    <add key="projectFinancialsAttribute5" value="EFC 05: Risk allowance - last Period" />
    <add key="projectFinancialsAttribute6" value="EFC 06*: Risk allowance - movement" />
    <add key="projectFinancialsAttribute7" value="EFC 07*: This period" />
    <add key="projectFinancialsAttribute8" value="EFC 08*: Last period" />
    <add key="projectFinancialsAttribute9" value="EFC 09*: Movement" />
    <add key="projectFinancialsAttribute10" value="EFC 10: Approved Budget - this period" />
    <add key="projectFinancialsAttribute11" value="EFC 11: Approved Budget - last period" />
    <add key="projectFinancialsAttribute12" value="EFC 12*: Approved Budget - movement" />
    <add key="projectFinancialsAttribute13" value="EFC 13: Approved variations - this period" />
    <add key="projectFinancialsAttribute14" value="EFC 14: Approved variations - last period" />
    <add key="projectFinancialsAttribute15" value="EFC 15*: Approved variations - movement" />
    <add key="projectFinancialsAttribute16" value="EFC 16: Pending variations - this period" />
    <add key="projectFinancialsAttribute17" value="EFC 17: Pending variations - last period" />
    <add key="projectFinancialsAttribute18" value="EFC 18*: Pending variations - movement" />
    <add key="projectFinancialsAttribute19" value="EFC 19*: Current Budget - this period" />
    <add key="projectFinancialsAttribute20" value="EFC 20*: Current Budget - last period" />
    <add key="projectFinancialsAttribute21" value="EFC 21*: Current Budget - movement" />
    <add key="projectFinancialsAttribute22" value="EFC 22*: Variance, (EFC vs CB) - this period" />
    <add key="projectFinancialsAttribute23" value="EFC 23*: Variance (EFC vs CB) - last period" />
    <add key="projectFinancialsAttribute24" value="EFC 24*: Variance (EFC vs CB) - movement" />
    <add key="projectFinancialsAttribute25" value="EFC 25: VOWD to date - this period" />
    <add key="projectFinancialsAttribute26" value="EFC 26*: VOWD to date - last period" />
    <add key="projectFinancialsAttribute27" value="EFC 27*: VOWD to date - movement" />
    <add key="projectFinancialsAttribute28" value="EFC 28*: % complete by value - this period" />
    <add key="projectFinancialsAttribute29" value="EFC 29*: % complete by value - last period" />
    <add key="projectFinancialsAttribute30" value="EFC 30*: % complete by value - movement" />
    <add key="projectFinancialsAttribute31" value="EFC 31*: Variance (EFC vs CB) This period" />
    <add key="projectFinancialsAttribute32" value="EFC 32*: Variance (EFC vs CB) Last period" />
    <add key="projectFinancialsAttribute33" value="BFC 01: Baseline Periodic: Period/Year" />
    <add key="projectFinancialsAttribute34" value="BFC 02*: Baseline Periodic: Cumulative (CFY)" />
    <add key="projectFinancialsAttribute35" value="BFC 03*: Baseline Periodic: Cumulative (All years)" />
    <add key="projectFinancialsAttribute36" value="BFC 04: Actual/Projection: Period / Year" />
    <add key="projectFinancialsAttribute37" value="BFC 05*: Actual/Projection: Cumulative (CFY)" />
    <add key="projectFinancialsAttribute38" value="BFC 06*: Actual/Projection: Cumulative (All years)" />
    <add key="projectFinancialsAttribute39" value="BFC 07*: Variance: Period" />
    <add key="projectFinancialsAttribute40" value="BFC 08*: Variance: Cumulative (CFY)" />
    <add key="projectFinancialsAttribute41" value="BFC 17*: Variance Period" />
    <add key="projectFinancialsAttribute42" value="BFC 18*: Variance Cumulative (CFY)" />
    <add key="projectFinancialsAttribute43" value="PS 05: Budget Warning" />
    <add key="projectFinancialsAttribute44" value="PS 06*: Budget Warning" />
    <add key="projectFinancialsAttribute45" value="PS 07*: Budget Warning" />
    <add key="projectFinancialsAttribute46" value="Auth 01: Last Gateway Pathway Stages" />
    <add key="projectFinancialsAttribute47" value="Auth 02: Project Authority" />
    <add key="projectFinancialsAttribute48" value="Auth 03: Last Gateway Date" />
    <add key="projectFinancialsAttribute49" value="Auth 04*: EFC vs Auth" />
    <add key="projectFinancialsAttribute50" value="Auth 05*: Auth vs VOWD" />
    <add key="projectFinancialsAttribute51" value="Auth 06*: EFC vs Auth Status" />
    <add key="projectFinancialsAttribute52" value="Auth 07*: Auth vs VOWD Status" />

    <!--project Financial 13 data-->
    <add key="projectFinancials13StatusItem" value="P13 EFC and Forecast" />
    <add key="projectFinancials13AttributesCount" value="6" />
    <add key="projectFinancials13Attribute1" value="BFC 01: Baseline Periodic: Period/Year" />
    <add key="projectFinancials13Attribute2" value="BFC 04: Actual/Projection: Period / Year" />
    <add key="projectFinancials13Attribute3" value="BFC 07*: Variance: Period" />
    <add key="projectFinancials13Attribute4" value="BFC 17*: Variance Period" />
    <add key="projectFinancials13Attribute5" value="BFC 08*: Variance: Cumulative (CFY)" />
    <add key="projectFinancials13Attribute6" value="BFC 18*: Variance Cumulative (CFY)" />
    <!--project Financial 99 data-->
    <add key="projectFinancials99StatusItem" value="P99 EFC and Forecast Totals" />
    <add key="projectFinancials99AttributesCount" value="8" />
    <add key="projectFinancials99Attribute1" value="BFC 09*: Baseline Periodic: Total FY16/17" />
    <add key="projectFinancials99Attribute2" value="BFC 10*: Projection: Total FY 16/17" />
    <add key="projectFinancials99Attribute3" value="BFC 11*: Baseline Periodic: Total Future Years" />
    <add key="projectFinancials99Attribute4" value="BFC 12*: Projection: Total Future Years" />
    <add key="projectFinancials99Attribute5" value="BFC 13*: Variance: Total Future Years" />
    <add key="projectFinancials99Attribute6" value="BFC 14*: Baseline Periodic: All Years Total" />
    <add key="projectFinancials99Attribute7" value="BFC 15*: Projection: All Years Total" />
    <add key="projectFinancials99Attribute8" value="BFC 16*: Variance: All Years Total" />

    <!--project Financial 00 data-->
    <add key="projectFinancials00StatusItem" value="P00 EFC and Forecast" />
    <add key="projectFinancials00AttributesCount" value="8" />
    <add key="projectFinancials00Attribute1" value="BFC 01: Baseline Periodic: Period/Year" />
    <add key="projectFinancials00Attribute2" value="BFC 02*: Baseline Periodic: Cumulative (CFY)" />
    <add key="projectFinancials00Attribute3" value="BFC 03*: Baseline Periodic: Cumulative (All years)" />
    <add key="projectFinancials00Attribute4" value="BFC 04: Actual/Projection: Period / Year" />
    <add key="projectFinancials00Attribute5" value="BFC 05*: Actual/Projection: Cumulative (CFY)" />
    <add key="projectFinancials00Attribute6" value="BFC 06*: Actual/Projection: Cumulative (All years)" />
    <add key="projectFinancials00Attribute7" value="BFC 07*: Variance: Period" />
    <add key="projectFinancials00Attribute8" value="BFC 08*: Variance: Cumulative (CFY)" />

    <!--Financial calcs-->
    <add key="BaselineCostsXLSFilename" value="CostTemplateRJ.xlsx" />
    <!--<add key="BaselineCostsXLSLocation" value="C:\Users\rusty\OneDrive\Documents\Jason\DLRLive\data\Costs\CostTemplateRJ.xlsx" />-->
    <add key="BaselineCostsFirstSheet" value="1" />
    <add key="BaselineCostsLastSheet" value="2" />
    <add key="PriorYearItem" value="P00 EFC and Forecast" />
    <add key="FinalYearItem" value="P99 EFC and Forecast Totals" />
    <add key="LastMonthItem" value="P13 EFC and Forecast" />
    <add key="ItemPeriodNames" value="P{0:D2} EFC and Forecast" />
    <add key="BFC01" value="BFC 01: Baseline Periodic: Period/Year" />
    <add key="BFC02" value="BFC 02*: Baseline Periodic: Cumulative (CFY)" />
    <add key="BFC03" value="BFC 03*: Baseline Periodic: Cumulative (All years)" />
    <add key="BFC04" value="BFC 04: Actual/Projection: Period / Year" />
    <add key="BFC05" value="BFC 05*: Actual/Projection: Cumulative (CFY)" />
    <add key="BFC06" value="BFC 06*: Actual/Projection: Cumulative (All years)" />
    <add key="BFC07" value="BFC 07*: Variance: Period" />
    <add key="BFC08" value="BFC 08*: Variance: Cumulative (CFY)" />
    <add key="BFC09" value="BFC 09*: Baseline Periodic: Total FY16/17" />
    <add key="BFC10" value="BFC 10*: Projection: Total FY 16/17" />
    <add key="BFC11" value="BFC 11*: Baseline Periodic: Total Future Years" />
    <add key="BFC12" value="BFC 12*: Projection: Total Future Years" />
    <add key="BFC13" value="BFC 13*: Variance: Total Future Years" />
    <add key="BFC14" value="BFC 14*: Baseline Periodic: All Years Total" />
    <add key="BFC15" value="BFC 15*: Projection: All Years Total" />
    <add key="BFC16" value="BFC 16*: Variance: All Years Total" />
    <add key="BFC17" value="BFC 17*: Variance Period" />
    <add key="BFC18" value="BFC 18*: Variance Cumulative (CFY)" />

    <!--EFC Calcs-->
    <add key="EFCItemName" value="P{0:D2} EFC and Forecast" />
    <add key="EFC01" value="EFC 01: Base Cost - this period" />
    <add key="EFC02" value="EFC 02: Base Cost- last period" />
    <add key="EFC03" value="EFC 03*: Base Cost - movement" />
    <add key="EFC04" value="EFC 04: Risk allowance - this period" />
    <add key="EFC05" value="EFC 05: Risk allowance - last Period" />
    <add key="EFC06" value="EFC 06*: Risk allowance - movement" />
    <add key="EFC07" value="EFC 07*: This period" />
    <add key="EFC08" value="EFC 08*: Last period" />
    <add key="EFC09" value="EFC 09*: Movement" />
    <add key="EFC10" value="EFC 10: Approved Budget - this period" />
    <add key="EFC11" value="EFC 11: Approved Budget - last period" />
    <add key="EFC12" value="EFC 12*: Approved Budget - movement" />
    <add key="EFC13" value="EFC 13: Approved variations - this period" />
    <add key="EFC14" value="EFC 14: Approved variations - last period" />
    <add key="EFC15" value="EFC 15*: Approved variations - movement" />
    <add key="EFC16" value="EFC 16: Pending variations - this period" />
    <add key="EFC17" value="EFC 17: Pending variations - last period" />
    <add key="EFC18" value="EFC 18*: Pending variations - movement" />
    <add key="EFC19" value="EFC 19*: Current Budget - this period" />
    <add key="EFC20" value="EFC 20*: Current Budget - last period" />
    <add key="EFC21" value="EFC 21*: Current Budget - movement" />
    <add key="EFC22" value="EFC 22*: Variance, (EFC vs CB) - this period" />
    <add key="EFC23" value="EFC 23*: Variance (EFC vs CB) - last period" />
    <add key="EFC24" value="EFC 24*: Variance (EFC vs CB) - movement" />
    <add key="EFC25" value="EFC 25: VOWD to date - this period" />
    <add key="EFC26" value="EFC 26*: VOWD to date - last period" />
    <add key="EFC27" value="EFC 27*: VOWD to date - movement" />
    <add key="EFC28" value="EFC 28*: % complete by value - this period" />
    <add key="EFC29" value="EFC 29*: % complete by value - last period" />
    <add key="EFC30" value="EFC 30*: % complete by value - movement" />
    <add key="EFC31" value="EFC 31*: Variance (EFC vs CB) This period" />
    <add key="EFC32" value="EFC 32*: Variance (EFC vs CB) Last period" />

    <add key="AUTH01" value="Auth 02: Project Authority" />
    <add key="AUTH02" value="Auth 02: Project Authority" />
    <add key="AUTH03" value="Auth 05*: Auth vs VOWD" />
    <add key="AUTH04" value="Auth 04*: EFC vs Auth" />
    <add key="AUTH05" value="Auth 05*: Auth vs VOWD" />
    <add key="AUTH06" value="Auth 06*: EFC vs Auth Status" />
    <add key="AUTH07" value="Auth 07*: Auth vs VOWD Status" />


    <!-- Nazar Financials-->
    <add key="NFForecast" value="PS 05: Budget Warning" />
    <add key="NFOverSpend" value="PS 06*: Budget Warning" />
    <add key="NFRAG" value="PS 07*: Budget Warning" />
    <add key="NFPeriodItem" value="P{0:D2} EFC and Forecast" />
    <add key="NFYearItem" value="P99 EFC and Forecast Totals" />
    <add key="NFYearBudget" value="BFC 11*: Baseline Periodic: Total Future Years" />

    <!--EFC carryover data -->
    <add key="itemCarryOver" value="P{0:D2} EFC and Forecast" />
    <add key="itemCarryOverAttributeCount" value="14" />
    <add key="itemCOA01" value="EFC 01: Base Cost - this period" />
    <add key="itemCOA02" value="EFC 02: Base Cost- last period" />
    <add key="itemCOA03" value="EFC 04: Risk allowance - this period" />
    <add key="itemCOA04" value="EFC 05: Risk allowance - last Period" />
    <add key="itemCOA05" value="EFC 10: Approved Budget - this period" />
    <add key="itemCOA06" value="EFC 11: Approved Budget - last period" />
    <add key="itemCOA07" value="EFC 13: Approved variations - this period" />
    <add key="itemCOA08" value="EFC 14: Approved variations - last period" />
    <add key="itemCOA09" value="EFC 16: Pending variations - this period" />
    <add key="itemCOA10" value="EFC 17: Pending variations - last period" />
    <add key="itemCOA11" value="EFC 25: VOWD to date - this period" />
    <add key="itemCOA12" value="Auth 01: Last Gateway Pathway Stages" />
    <add key="itemCOA13" value="Auth 02: Project Authority" />
    <add key="itemCOA14" value="Auth 03: Last Gateway Date" />

    <!--Milestones-->
    <add key="MilestoneXLSFilename" value="milestonesComplete.xlsx" />
    <add key="MilestoneCategory" value="Project Milestones" />
    <add key="MilestoneAPMTag" value="APM" />
    <add key="MilestonePDMTag" value="PDM" />
    <add key="MilestoneName" value="P{0:D2} {1}" />
    <add key="MilestoneBaselineFinish" value="MPP 02*: Baseline End Date" />
    <add key="MilestoneLastFinish" value="MPP 03*: Last Periods Forecast End Date" />
    <add key="MilestoneForecastFinish" value="MPP 04*: Current Forecast / Actual End Date" />
    <add key="MilestoneForecastPreviousVariance" value="MPP 05*: Variance in the period (wks)" />
    <add key="MilestoneForecastBaselineVariance" value="MPP 06*: Baseline Variance" />
    <add key="MilestoneForecastTimeRAG" value="PS 02: Time RAG" />
    <add key="MilestoneForecastProjectStatus" value="PS 01: Project Status" />

    <!--Risks-->
    <add key="RiskXLSFilename" value="RiskRegister {0}.xlsx" />
    <add key="RiskCategory" value="Risk" />
    <add key="RiskMinScore" value="19" />
    <add key="RiskName" value="P{0:D2} Risk{1:D2}" />
    <add key="RiskAttributeTitle" value="Risk 02: Description" />
    <add key="RiskAttributeDescription" value="Risk 02: Description" />
    <add key="RiskAttributeMitigation" value="Risk 03: Next Response Action" />
    <add key="RiskAttributeActionDue" value="Risk 05: Due Date" />
    <add key="RiskAttributePreMitScore" value="Risk 06: Pre Mitigation Score" />
    <add key="RiskAttributePostMitScore" value="Risk 07: Post Mitigation Score" />
    <add key="RiskAttributeTimeRAG" value="PS 02: Time RAG" />
    <add key="RiskAttributeProjectStatus" value="PS 01: Project Status" />
    
    <!---Costs-->
    <add key="CostXLSFilename" value="Costs {0}.xlsx" />
    <add key="costFieldCount" value="59" />
    <!--Cost field codes are based on the following fields-->
    <!--ITEM NAME | ATTRIBUTE NAME | XLS SHEETNAME | XLS Row | XLS Column-->
    <!--//Baseline: BFC 01: Period/Year-->
    <add key="costField0001" value="P00 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|4" />
    <add key="costField0002" value="P01 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|5" />
    <add key="costField0003" value="P02 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|6" />
    <add key="costField0004" value="P03 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|7" />
    <add key="costField0005" value="P04 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|8" />
    <add key="costField0006" value="P05 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|9" />
    <add key="costField0007" value="P06 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|10" />
    <add key="costField0008" value="P07 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|11" />
    <add key="costField0009" value="P08 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|12" />
    <add key="costField0010" value="P09 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|13" />
    <add key="costField0011" value="P10 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|14" />
    <add key="costField0012" value="P11 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|15" />
    <add key="costField0013" value="P12 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|16" />
    <add key="costField0014" value="P13 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|32|17" />
    <!--// Actual/Projection BFC 04: Period/Year-->
    <add key="costField0015" value="P00 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|4" />
    <add key="costField0016" value="P01 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|5" />
    <add key="costField0017" value="P02 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|6" />
    <add key="costField0018" value="P03 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|7" />
    <add key="costField0019" value="P04 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|8" />
    <add key="costField0020" value="P05 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|9" />
    <add key="costField0021" value="P06 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|10" />
    <add key="costField0022" value="P07 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|11" />
    <add key="costField0023" value="P08 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|12" />
    <add key="costField0024" value="P09 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|13" />
    <add key="costField0025" value="P10 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|14" />
    <add key="costField0026" value="P11 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|15" />
    <add key="costField0027" value="P12 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|16" />
    <add key="costField0028" value="P13 EFC and Forecast|BFC 01: Baseline Periodic: Period/Year|Current Period PPR Cost|35|17" />
    <!--//Project Budget, Forecast and Cost Totals-->
    <add key="costField0029" value="P99 EFC and Forecast Totals|BFC 11*: Baseline Periodic: Total Future Years|Current Period PPR Cost|32|20" />
    <add key="costField0030" value="P99 EFC and Forecast Totals|BFC 12*: Projection: Total Future Years|Current Period PPR Cost|35|20" />
    <!--//Project Managers Base Cost (EFC)-->
    <add key="costField0031" value="P{0:D2} EFC and Forecast|EFC 01: Base Cost - this period|Current Period PPR Cost|9|3" />
    <add key="costField0032" value="P{0:D2} EFC and Forecast|EFC 02: Base Cost- last period|Current Period PPR Cost|9|4" />
    <!--//Risk Allowance-->
    <add key="costField0033" value="P{0:D2} EFC and Forecast|EFC 04: Risk allowance - this period|Current Period PPR Cost|10|3" />
    <add key="costField0034" value="P{0:D2} EFC and Forecast|EFC 05: Risk allowance - last Period|Current Period PPR Cost|10|4" />
    <!--//Cost Managers EFC-->
    <add key="costField0035" value="P{0:D2} EFC and Forecast|EFC 10: Approved Budget - this period|Current Period PPR Cost|14|3" />
    <add key="costField0036" value="P{0:D2} EFC and Forecast|EFC 11: Approved Budget - last period|Current Period PPR Cost|14|4" />
    <add key="costField0037" value="P{0:D2} EFC and Forecast|EFC 13: Approved variations - this period|Current Period PPR Cost|15|3" />
    <add key="costField0038" value="P{0:D2} EFC and Forecast|EFC 14: Approved variations - last period|Current Period PPR Cost|15|4" />
    <add key="costField0039" value="P{0:D2} EFC and Forecast|EFC 16: Pending variations - this period|Current Period PPR Cost|16|3" />
    <add key="costField0040" value="P{0:D2} EFC and Forecast|EFC 17: Pending variations - last period|Current Period PPR Cost|16|3" />
    <!--//Authority Status-->
    <add key="costField0041" value="P{0:D2} EFC and Forecast|Auth 01: Last Gateway Pathway Stages|Current Period PPR Cost|24|3" />
    <add key="costField0042" value="P{0:D2} EFC and Forecast|Auth 02: Project Authority|Current Period PPR Cost|25|3" />
    <add key="costField0043" value="P{0:D2} EFC and Forecast|Auth 03: Last Gateway Date|Current Period PPR Cost|26|3" />
    <!--// Project Managers Financial Commentary-->
    <add key="costField0044" value="P{0:D2} EFC and Forecast|FC: SVC - Current Period|Current Period PPR Cost|40|4" />
    <add key="costField0045" value="P{0:D2} EFC and Forecast|FC: SVC - Current Financial Year to Date|Current Period PPR Cost|41|4" />
    <add key="costField0046" value="P{0:D2} EFC and Forecast|FC: SVC - Current Financial Year Total|Current Period PPR Cost|42|4" />
    <add key="costField0047" value="P{0:D2} EFC and Forecast|FC: Budget and EFC Commentary|Current Period PPR Cost|43|4" />
    <!--//Project Managers Budget Warning-->
    <add key="costField0048" value="P{0:D2} EFC and Forecast|PS 05: Budget Warning|Current Period PPR Cost|40|15" />
    <!--// Project Details-->
    <add key="costField0049" value="P{0:D2} EFC and Forecast|PD 06: Programme Manager|Current Period PPR Cost|1|9" />
    <add key="costField0050" value="P{0:D2} EFC and Forecast|PD 07: Project Manager|Current Period PPR Cost|2|9" />
    <add key="costField0051" value="P{0:D2} EFC and Forecast|PD 01: Project Title|Current Period PPR Cost|1|4" />
    <add key="costField0052" value="P{0:D2} EFC and Forecast|PD 20: Project Sponsor|Current Period PPR Cost|2|16" />
    <add key="costField0053" value="P{0:D2} EFC and Forecast|PP 01: Handover|Current Period PPR Cost|3|16" />
    <add key="costField0054" value="P{0:D2} EFC and Forecast|PD 02: Asset Group|Current Period PPR Cost|1|16" />
    <add key="costField0055" value="P{0:D2} EFC and Forecast|PD 03: Engineering Representative|Current Period PPR Cost|3|8" />
    <add key="costField0056" value="P{0:D2} EFC and Forecast|PD 04: Franchise Manager|Current Period PPR Cost|3|12" />
    <add key="costField0057" value="P{0:D2} EFC and Forecast|PD 19: Project Description|Current Period PPR Cost|2|4" />
    <add key="costField0058" value="P{0:D2} EFC and Forecast|PD 08: WBS Code|Current Period PPR Cost|3|18" />
    <add key="costField0059" value="P{0:D2} EFC and Forecast|PD 05: Contractor|Current Period PPR Cost|3|20" />


  </appSettings>

</configuration>